@import 'common/base';
@import 'common/grid';
@import 'common/skill';
@import 'common/footer';
@import 'common/icon';
@import 'common/resume';
@import 'common/contact';
@import 'common/work';

.navbar {
  position: fixed;
  width: 100%;
  text-align: center;
  background: rgba(0,0,0, .6);
  color: #FFF;
  padding: 1rem 0;
  z-index: 100;
  font-size: .9rem;
}

.main-bg {
  background-image: url(../img/top.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

.img-shadow {
  border-radius: .5rem;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.title {
  margin: 0 auto;
  padding: 1.5rem 0;
  text-align: center;
}
