@import 'common/base';
@import 'common/grid';
@import 'common/skill';
@import 'common/footer';
@import 'common/icon';
@import 'common/resume';

.navbar {
  position: fixed;
  width: 100%;
  text-align: center;
  background: rgba(0,0,0, .6);
  color: #FFF;
  padding: 1rem 0;
}

.test {
  color: red;
}

.bg-test {
  background-image: url(../img/top.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
