* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

hr {
  background-color: #fff;
  border-style: none;
  border-top: 2px dashed #CCC;
  display: block;
  margin: 1rem auto;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}
