.md-50 {
  font-size: 80px;
  border-radius: 50%;
  border: 1px solid #ccc;
  padding: 1.5rem;
}

.icon_wrap {
  text-align: center;
}

.language {
  color: #C2185B;
  border: 1px solid #C2185B;
}

.work {
  color: #0097A7;
  border: 1px solid #0097A7;
}

.query_builder {
  color: #E64A19;
  border: 1px solid #E64A19;
}

.photo_library {
  color: #00796B;
  border: 1px solid #00796B;
}

.import_export {
  color: #7B1FA2;
  border: 1px solid #7B1FA2;
}

.verified_user {
  color: #303F9F;
  border: 1px solid #303F9F;
}

.social-wrap {
  padding: 3rem 0;
}

.icon-base {
  text-align: center;
}

.social-bg {
  background: #FFF;
  z-index: 10;
  position: relative;
}
